{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="/static/vendor/vanillajs-datepicker/css/datepicker-bs4.min.css">
{% endblock %}

{% block content %}
<section class="mb-4 mb-lg-5">

    <!-- Form Elements -->
    <div class="col-lg-12 mb-5">
        <div class="card">
            <div class="card-header">
                <h4 class="card-heading">Product Create</h4>
            </div>
            <div class="card-body">
                <form method="post" action="{% url 'saveproduct' %}" class="form-horizontal" enctype="multipart/form-data">{% csrf_token %}

                    <div class="row mb-3">
                        <label class="col-md-3 form-label">Product Name</label>
                        <div class="col-md-9">
                            <input class="form-control" name="name" type="text" placeholder="Product Name">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-md-3 form-label">Product Type</label>
                        <div class="col-md-9">
                            <input class="form-control" name="type" type="text" placeholder="Product Type">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-md-3 form-label">Product Category</label>
                        <div class="col-md-9 select mb-3">
                            <select class="form-control" name="category">
                                <option value="none">None</option>      
                                {% for cat in categories %}                          
                                <option value="{{ cat.id }}">{{ cat.name }}</option>      
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-md-3 form-label">Product Description</label>
                        <div class="col-md-9">
                            <textarea class="form-control" id="description" name="description" rows="3"></textarea>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-md-3 form-label">Thumb Image</label>
                        <div class="col-md-9">
                            <input class="form-control" name="thumb_image" type="file" placeholder="Image">
                        </div>
                    </div>

                    <hr class="bg-gray-400 my-4">

                    <div class="row">
                        <div class="col-md-9 ms-auto">
                            <button class="btn btn-secondary" type="button">Cancel</button>
                            <button class="btn btn-primary" type="submit">Create Service Product</button>
                            <a class="btn btn-info" href="" data-bs-toggle="modal" data-bs-target="#addcat"><i class="fas fa-angry me-2"></i>Add Category</a>
                        </div>
                    </div>                    
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addcat" data-bs-backdrop="static"
            data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Other Payment Status</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <form action="{% url 'savecat' %}" method="post">{% csrf_token %}
                        <div class="modal-body">                                                
                            <div class="row mb-3">
                                <label class="col-md-3 form-label">Category Name</label>
                                <div class="col-md-9">
                                    <input class="form-control" name="name" type="text" placeholder="Category Name">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>                                            
                </div>
            </div>
        </div>
</section>
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/static/vendor/vanillajs-datepicker/js/datepicker-full.min.js"></script>
<script>
    console.log("in service create page");

    var service = document.getElementById("service");


    $('#service').on('change', function(){
        // $('#myinput').val($(this).val());        
        var base_ratio = 1 
        $('#qty').val($(this).find(':selected').data('quantity'));
        $('#price').val($(this).find(':selected').data('price'));
        $('#ratio').val(base_ratio);
    })

    // init
    $('#service').change();

    $('#qty').on('change', function(){
        var val = $('#qty').val();
        var base_qty = $('#service').find(':selected').data('quantity');
        var base_price = $('#service').find(':selected').data('price');
        var multiplier = val/base_qty;
        var final_price = base_price * multiplier;
        $('#ratio').val(multiplier);
        $('#price').val(final_price);        
    });

    $('#qty').change();

    const datepickerAutoClose = new Datepicker(document.querySelector(".input-datepicker-autoclose"), {
        buttonClass: "btn",
        autohide: true,
    });
</script>
{% endblock %}