/* your styles go here */

.btn-xs, .btn-group-xs > .btn{
    padding: 0.05rem 0.5rem;
    font-size: 0.6875rem;
    border-radius: 0.13rem;
}

.service-img{
    height: 250px;
}

.navbar-brand-client{

}

.bg-crypto{
    background: rgb(0,75,46);
    background: radial-gradient(at top, rgba(0,75,46,1) 0%, rgba(2,0,36,1) 57%); 
}

.text-justify {
    text-align: justify;
}

.scrollbar {
    height: 400px !important;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: indigo lightsalmon;
}