<header class="header">
    <nav class="navbar fixed-top navbar-expand-lg px-4 py-2 bg-white shadow" style="z-index:99">
        <a class="navbar-brand-client fw-bold text-uppercase text-base" href="/">
            {% comment %} <span class="d-none d-brand-partial">Crypto </span><span class="d-none d-sm-inline">Marketers</span> {% endcomment %}
            <img src="/static/logo/crypto_logo.png" style="height: 80px;" class="py-3" alt="Crypto Marketers">
        </a>
      <ul class="ms-auto d-flex align-items-center list-unstyled mb-0">
        <li class="nav-item dropdown">
            <div class="me-2">
                <a href="{% url 'clientindex' %}" class="btn btn-primary">Home</a>
            </div>            
        </li>
        <div class="dropdown me-2">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                All Services
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="{% url 'allservices' %}">Crypto Services</a></li>
                <li><a class="dropdown-item" href="{% url 'socialservices' cat_fb %}">Facebook Services</a></li>
                <li><a class="dropdown-item" href="{% url 'socialservices' cat_it %}">Instagram Services</a></li>
                <li><a class="dropdown-item" href="{% url 'socialservices' cat_yt %}">Youtube Services</a></li>
                <li><a class="dropdown-item" href="{% url 'socialservices' cat_tt %}">Tiktok Services</a></li>
                <li><a class="dropdown-item" href="{% url 'socialservices' cat_tw %}">Twitter Services</a></li>
            </ul>
        </div>
        <li class="nav-item dropdown">
            <div class="me-2">
                <a href="{% url 'portfolio' %}" class="btn btn-outline-primary">Portfolio</a>
            </div>            
        </li>
        <li class="nav-item dropdown">
            <div class="me-2">
                <a href="{% url 'contactus' %}" class="btn btn-outline-primary">Contact Us</a>
            </div>            
        </li>
        {% comment %} <li class="nav-item dropdown">
            <div class="me-2">
                <a href="{% url 'people' %}" class="btn btn-outline-primary">People</a>
            </div>            
        </li> {% endcomment %}
        <li class="nav-item dropdown">
            <div class="me-2">
                {% if order.get_cart_items %}
                <a href="{% url 'cart' %}" class="btn btn-outline-dark">Cart ({{ order.get_cart_items }})</a>
                {% else %}
                <a href="{% url 'cart' %}" class="btn btn-outline-dark">Cart (0)</a>
                {% endif %}
            </div>                
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item dropdown">
            <div class="me-2">
                <a href="{% url 'clientorders' %}" class="btn btn-outline-dark">Your Orders</a>
            </div>                
        </li>
        {% endif %}
        

        <li class="nav-item dropdown ms-auto"><a class="nav-link pe-0" id="userInfo" href="#" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false"><img class="avatar p-1" src="/static/img/axe2.jpg"
              alt="Jason Doe"></a>
          <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated" aria-labelledby="userInfo">
            {% if user.is_authenticated %}
            <div class="dropdown-header text-gray-700">
              <h6 class="font-weight-bold">{{ request.user.username }}</h6>
            </div>        
            <div class="dropdown-divider"></div><a class="dropdown-item" href="{% url 'resetpassword'  %}">Reset Password</a>
            <div class="dropdown-divider"></div><a class="dropdown-item" href="{% url 'logout'  %}">Logout</a>
            {% else %}
            <a class="dropdown-item" href="{% url 'login'  %}">Login</a>
            {% endif %}
          </div>
        </li>
      </ul>
    </nav>
  </header>
