{% extends 'base_client.html' %}
{% load static %}

{% block content %}


<section>
    <div class="row">
        <div class="page-header">
            <h1 class="page-heading">Checkout</h1>
            <p>Absolute Point</p>

            <div class="container">
                <main>
                    <div class="py-5">
                        <p class="lead">Provide all the information for your Order Confirmation and payment.</p>
                    </div>

                    <div class="row g-5">

                        <div class="col-md-5 col-lg-4 order-md-last">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                                        <span class="text-primary">Your cart</span>
                                        <span class="badge bg-primary rounded-pill">{{ order.get_cart_items }}</span>
                                    </h4>
                                    <ul class="list-group mb-3">
                                        {% for item in order_items %}
                                        <li class="list-group-item d-flex justify-content-between lh-sm">
                                            <div>
                                                <h6 class="my-0">{{ item.product.name }}</h6>
                                                <small class="text-muted">{{ item.product.ptype }}</small>
                                            </div>
                                            <span class="text-muted">${{ item.get_total }}</span>
                                        </li>
                                        {% endfor %}
                                        <li class="list-group-item d-flex justify-content-between lh-sm">
                                            <div>
                                                <h6 class="my-0">Total</h6>
                                            </div>
                                            <span class="text-muted">${{ order.get_cart_total }}</span>
                                        </li>

                                    </ul>
                                </div>
                            </div>


                        </div>


                        <div class="col-md-7 col-lg-8">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="mb-3">Billing Information</h4>
                                    <form method="POST" action="{% url 'processorder' %}">{% csrf_token %}
                                        <input type="hidden" name="order" value="{{ order.id }}" >
                                        <div class="row g-3">
                                            <div class="col-sm-6">
                                                <label for="firstName" class="form-label">First name</label>
                                                <input type="text" class="form-control" name="firstname" id="firstName" placeholder=""
                                                    value="" required>
                                                <div class="invalid-feedback">
                                                    Valid first name is required.
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <label for="lastName" class="form-label">Last name</label>
                                                <input type="text" class="form-control" name="lastname" id="lastName" placeholder=""
                                                    value="" required>
                                                <div class="invalid-feedback">
                                                    Valid last name is required.
                                                </div>
                                            </div>

                                            <div class="col-12">
                                                <label for="username" class="form-label">Telegram Username</label>
                                                <div class="input-group has-validation">
                                                    <span class="input-group-text">@</span>
                                                    <input type="text" class="form-control" name="username" id="Username"
                                                        placeholder="Telegram Username" required>
                                                    <div class="invalid-feedback">
                                                        Your username is required.
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-12">
                                                <label for="email" class="form-label">Email</label>
                                                <input type="email" class="form-control" name="email" id="email"
                                                    placeholder="you@example.com" requred>
                                                <div class="invalid-feedback">
                                                    Please enter a valid email address for shipping updates.
                                                </div>
                                            </div>

                                            <div class="col-12">
                                                <label for="address" class="form-label">Address</label>
                                                <input type="text" class="form-control" name="address" id="address"
                                                    placeholder="1234 Main St" required>
                                                <div class="invalid-feedback">
                                                    Please enter your shipping address.
                                                </div>
                                            </div>

                                            <div class="col-12">
                                                <label for="address2" class="form-label">Address 2 <span
                                                        class="text-muted">(Optional)</span></label>
                                                <input type="text" class="form-control" name="address2" id="address2"
                                                    placeholder="Apartment or suite">
                                            </div>

                                            <div class="col-md-5">
                                                <label for="country" class="form-label">Country</label>
                                                <input type="text" class="form-control" name="country" id="country" placeholder="Country"
                                                    required>
                                                <div class="invalid-feedback">
                                                    Please select a valid country.
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <label for="state" class="form-label">State</label>
                                                <input type="text" class="form-control" name="state" id="state" placeholder="State"
                                                    required>
                                                <div class="invalid-feedback">
                                                    Please provide a valid state.
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <label for="zip" class="form-label">Zip</label>
                                                <input type="text" class="form-control" name="zipcode" id="zip" placeholder="Zip"
                                                    required>
                                                <div class="invalid-feedback">
                                                    Zip code required.
                                                </div>
                                            </div>
                                        </div>

                                        <hr class="my-4">

                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="save-info">
                                            <label class="form-check-label" for="save-info">Save this information for
                                                next
                                                time</label>
                                        </div>

                                        <hr class="my-4">

                                        <h4 class="mb-3">Payment</h4>

                                        <div class="my-3">
                                            <div class="form-check">
                                                <input id="credit" name="credit_type" name="paymentMethod" type="radio"
                                                    class="form-check-input" checked required>
                                                <label class="form-check-label" for="credit">Crypto</label>
                                            </div>
                                            <div class="form-check">
                                                <input id="credit" name="credit_type" name="paymentMethod" type="radio"
                                                    class="form-check-input">
                                                <label class="form-check-label" for="credit">Stripe</label>
                                            </div>
                                        </div>

                                        <div class="row gy-3">
                                            <div class="col-md-12">
                                                <label for="currency" class="form-label">Currency</label>
                                                <select class="form-select" id="currency" name="currency" required>
                                                    <option value="">Choose...</option>
                                                    {% for key, value in rates.items %}
                                                    <option value='{"{{key}}" : "{{value}}"}'>{{ key }} - {{ value }}</option>
                                                    {% endfor %}
                                                </select>
                                                <div class="invalid-feedback">
                                                    Please provide a valid state.
                                                </div>
                                            </div>
                                        </div>

                                        <hr class="my-4">

                                        <button class="w-100 btn btn-primary btn-lg" type="submit">Confirm Checkout</button>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</section>
{% endblock %}