{% extends 'base_client.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
<style>
    .slick-prev:before,
    .slick-next:before {
        color: #3c44bc !important;
    }
</style>
{% endblock %}


{% block content %}

<section>
    <div class="container">
        <div class="row">
            <div class="page-header text-center">
                <h1 class="page-heading">Crypto Services</h1>
                <p>Provided Absolute Point</p>
            </div>
            <div class="product-slider my-3 px-3">
                {% for product in products %}
                {% if product.status %}
                <div>
                    <a href="{% url 'clientservicedetail' product.id %}">
                        {% if product.thumb %}
                        <img src="/media/{{ product.thumb }}"
                            class="img-thumbnail p-1 shadow" style="width:200px; height: 200px;" alt="{{ product.name }}">
                        {% else %}
                        <img src="https://media.istockphoto.com/photos/defocused-particles-background-picture-id1151621425?b=1&k=20&m=1151621425&s=170667a&w=0&h=cB0k4z9NvMjor1ERZE69zK6G6X6ZMlZ2TlY0poHx7SE="
                            class="img-thumbnail p-1 shadow" style="width:200px; height: 200px;" alt="{{ product.name }}">
                        {% endif %}
                        <p class="text-center lead text-decoration-none">{{ product.name }}</p>
                    </a>
                    
                </div>

                <!-- <img src="https://media.istockphoto.com/photos/defocused-particles-background-picture-id1151621425?b=1&k=20&m=1151621425&s=170667a&w=0&h=cB0k4z9NvMjor1ERZE69zK6G6X6ZMlZ2TlY0poHx7SE=" class="img-thumbnail p-1" style="width:200px; height: 200px;" alt="{{ product.name }}">
                <img src="https://media.istockphoto.com/photos/defocused-particles-background-picture-id1151621425?b=1&k=20&m=1151621425&s=170667a&w=0&h=cB0k4z9NvMjor1ERZE69zK6G6X6ZMlZ2TlY0poHx7SE=" class="img-thumbnail p-1" style="width:200px; height: 200px;" alt="{{ product.name }}"> -->
                {% endif %}
                {% endfor %}
            </div>
            <!-- {% for product in products %}
            {% if product.status %}
            <div class="col-md-6 col-lg-3">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <h6 class="card-subtitle text-muted">{{  product.ptype }}</h6>
                    </div>
                    <img class="img-fluid service-img"
                        src="https://media.istockphoto.com/photos/defocused-particles-background-picture-id1151621425?b=1&k=20&m=1151621425&s=170667a&w=0&h=cB0k4z9NvMjor1ERZE69zK6G6X6ZMlZ2TlY0poHx7SE="
                        alt="Card image cap">
                    <div class="card-body">
                        <h6 class="card-subtitle text-muted">{{  product.category }}</h6>
                        <p class="card-text text-truncate">{{ product.description }}</p>
                        <a class="card-link" href="{% url 'clientservicedetail' product.id %}">Detail</a>
                        {% comment %} <a class="card-link" href="#">Another link</a> {% endcomment %}
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %} -->
        </div>

        
        <div class="page-header text-center mt-5">
            <h1 class="page-heading">Crypto Services</h1>
            <p>Provided Absolute Point</p>
        </div>
        <div class="row mb-5">
            {% if facebook %}
            <div class="col-lg-4 mb-5">
                <div class="card mb-5 mb-lg-0 border-0 shadow h-100">
                <div class="card-status bg-primary"></div>
                    <div class="card-body">
                        <h2 class="card-heading text-primary text-center fw-bold py-3">Facebook</h2>
                        <p class="text-muted text-center mb-4"><span class="h1 text-dark fw-bold">00</span><span
                                class="ms-2">/ Something</span></p>
                        <hr class="text-muted">
                        <ul class="fa-ul my-4">
                            <li class="mb-3"><span class="fa-li text-primary"><i class="fas fa-check"></i></span>Group Member</li>
                            <li class="mb-3"><span class="fa-li text-primary"><i class="fas fa-check"></i></span>Page Likes + Followers</li>
                            <li class="mb-3"><span class="fa-li text-primary"><i class="fas fa-check"></i></span>Page Review</li>
                            <li class="mb-3"><span class="fa-li text-primary"><i class="fas fa-check"></i></span>Post Like</li>
                            <li class="mb-3"><span class="fa-li text-primary"><i class="fas fa-check"></i></span>Profile Like</li>
                            <li class="mb-3"><span class="fa-li text-primary"><i class="fas fa-check"></i></span>Profile Follower</li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <div class="text-center"><a class="btn btn-outline-primary" href="{% url 'clientservicedetail' facebook.id %}">Buy Now</a></div>
                    </div>
                </div>
            </div>
            {% endif %}
            
            {% if instagram %}
            <div class="col-lg-4 mb-5">
                <div class="card mb-5 mb-lg-0 border-0 card-highlight shadow-lg overflow-hidden h-100">
                    <div class="card-status bg-primary"></div>
                    <div class="card-body">
                        <h2 class="card-heading text-primary text-center fw-bold py-3">Instagram</h2>
                        <p class="text-muted text-center mb-4"><span class="h1 text-dark fw-bold">00</span><span
                                class="ms-2">/ Something</span></p>
                        <hr class="text-muted">
                        <ul class="fa-ul my-4">
                            <li class="mb-3"><span class="fa-li text-primary"><i class="fas fa-check"></i></span>Followers</li>
                            <li class="mb-3"><span class="fa-li text-primary"><i class="fas fa-check"></i></span>Likes</li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <div class="text-center"><a class="btn btn-outline-primary" href="{% url 'clientservicedetail' instagram.id %}">Buy Now</a></div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if youtube %}
            <div class="col-lg-4 mb-5">
                <div class="card mb-5 mb-lg-0 border-0 shadow h-100">
                <div class="card-status bg-primary"></div>
                    <div class="card-body">
                        <h2 class="card-heading text-primary text-center fw-bold py-3">Youtube</h2>
                        <p class="text-muted text-center mb-4"><span class="h1 text-dark fw-bold">00</span><span
                                class="ms-2">/ Something</span></p>
                        <hr class="text-muted">
                        <ul class="fa-ul my-4">
                            <li class="mb-3"><span class="fa-li text-primary"><i class="fas fa-check"></i></span>Watch Time</li>
                            <li class="mb-3"><span class="fa-li text-primary"><i class="fas fa-check"></i></span>Likes</li>
                            <li class="mb-3"><span class="fa-li text-primary"><i class="fas fa-check"></i></span>Subscriber</li>
                            <li class="mb-3"><span class="fa-li text-primary"><i class="fas fa-check"></i></span>Views</li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <div class="text-center"><a class="btn btn-outline-primary" href="{% url 'clientservicedetail' youtube.id %}">Buy Now</a></div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if tiktok %}
            <div class="col-lg-4 mb-5">
                <div class="card mb-5 mb-lg-0 border-0 shadow h-100">
                    <div class="card-status bg-primary"></div>
                    <div class="card-body">
                        <h2 class="card-heading text-primary text-center fw-bold py-3">Tiktok</h2>
                        <p class="text-muted text-center mb-4"><span class="h1 text-dark fw-bold">00</span><span
                                class="ms-2">/ Something</span></p>
                        <hr class="text-muted">
                        <ul class="fa-ul my-4">
                            <li class="mb-3"><span class="fa-li text-primary"><i class="fas fa-check"></i></span>Follower</li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <div class="text-center"><a class="btn btn-outline-primary" href="{% url 'clientservicedetail' tiktok.id %}">Buy Now</a></div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if twitter %}
            <div class="col-lg-4 mb-5">
                <div class="card mb-5 mb-lg-0 border-0 card-highlight shadow-lg overflow-hidden h-100">
                <div class="card-status bg-primary"></div>
                    <div class="card-status bg-primary"></div>
                    <div class="card-body">
                        <h2 class="card-heading text-primary text-center fw-bold py-3">Twitter</h2>
                        <p class="text-muted text-center mb-4"><span class="h1 text-dark fw-bold">00</span><span
                                class="ms-2">/ Something</span></p>
                        <hr class="text-muted">
                        <ul class="fa-ul my-4">
                            <li class="mb-3"><span class="fa-li text-primary"><i class="fas fa-check"></i></span>Follower</li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <div class="text-center"><a class="btn btn-outline-primary" href="{% url 'clientservicedetail' twitter.id %}">Buy Now</a></div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>

    </div>



</section>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<script>
    $(document).ready(function () {
        $('.product-slider').slick({
            slidesToShow: 6,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 2000,
        });
    });
</script>
{% endblock %}