{% extends 'base_client.html' %}
{% load static %}

{% block content %}


<section>    
    <div class="row">
        <div class="page-header">
            <h1 class="page-heading">Crypto News</h1>
            <p>Provided by Absolute Point</p>
        </div>
        {% comment %} {% for new in news %}
        <div class="col-md-6 col-lg-3">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ new.title }}</h5>
                </div>
                {% if new.thumb %}
                <img class="img-fluid service-img"
                    src="/media/{{ new.thumb }}"
                    alt="Card image cap">
                {% else %}
                <img class="img-fluid service-img"
                    src="https://media.istockphoto.com/photos/defocused-particles-background-picture-id1151621425?b=1&k=20&m=1151621425&s=170667a&w=0&h=cB0k4z9NvMjor1ERZE69zK6G6X6ZMlZ2TlY0poHx7SE="
                    alt="Card image cap">
                {% endif %}
                <div class="card-body">
                    <p class="card-text text-truncate">{{ new.description }}</p>
                    <a class="card-link" href="{% url 'newsdetail' new.id %}">Detail</a>
                </div>
            </div>
        </div> 
        {% endfor %} {% endcomment %}
        {% for new in news %}
        <div class="card mb-3 g-0">
            <div class="row g-0">
                <div class="col-md-4 col-sm-4">
                {% if new.thumb %}
                <img src="/media/{{ new.thumb }}" class="img-fluid" alt="...">
                {% else %}
                <img src="https://media.istockphoto.com/photos/defocused-particles-background-picture-id1151621425?b=1&k=20&m=1151621425&s=170667a&w=0&h=cB0k4z9NvMjor1ERZE69zK6G6X6ZMlZ2TlY0poHx7SE=" class="img-fluid" alt="...">
                {% endif %}

                
                </div>
                <div class="col-md-8 col-sm-8">
                <div class="card-body">
                    <h5 class="card-title">{{ new.title }}</h5>
                    <p class="card-text">{{ new.message }}</p>
                    <a class="card-link" href="{% url 'newsdetail' new.id %}">Detail</a>
                    <p class="card-text"><small class="text-muted">{{ new.date_created }}</small></p>
                </div>
                </div>
            </div>
        </div>
        {% endfor %}
        
    </div>


</section>
{% endblock %}