{% extends 'base_client.html' %}
{% load static %}

{% block content %}


<section>
    <div class="row">
        <div class="page-header">
            <h1 class="page-heading">Person Detail</h1>
        </div>
        <div class="col-md-12 col-lg-12 col-sm-12 mb-5">
            <div class="card mb-8">
                <div class="card-body">
                    <h5 class="card-title">{{ dashuser.name }}</h5>
                </div>
                <!-- <img class="img-fluid service-img"
                    src="https://media.istockphoto.com/photos/defocused-particles-background-picture-id1151621425?b=1&k=20&m=1151621425&s=170667a&w=0&h=cB0k4z9NvMjor1ERZE69zK6G6X6ZMlZ2TlY0poHx7SE="
                    alt="Card image cap"> -->
                <div class="card-body">
                    <p class="card-text">{{ dashuser.username }}</p>
                </div>
                <div class="card-footer">
                    <p class="card-text">Date joined : {{ dashuser.created_at }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-12 col-sm-12 mb-4">
            <div class="card mb-4">

                <div class="card-body">
                    <h5 class="card-title">Portfolios Contributed</h5>
                    <div class="col-md">
                        <ul>
                            {% for work in portfolios %}
                            <li> <a href="{% url 'portfoliodetail' work.portfolio.id %}"> {{ work.portfolio.title }} </a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Have a Question</h5>
                    <h6 class="card-subtitle text-muted">Contact our specialist on Telegram @ishty or @pranto by <a href="">Clicking here</a></h6>
                </div>
            </div>
        </div>

    </div>


</section>
{% endblock %}

{% block scripts %}
<script src="/static/js/cart.js"></script>
{% endblock %}