{% extends 'base_client.html' %}
{% load static %}

{% block content %}


<section>    
    <div class="row">
        <div class="page-header">
            <h1 class="page-heading">FAQ</h1>
            <p>Crypto Marketers</p>
        </div>
        <div class="px-3 text-justify">
            <h3>What services do we provide?</h3> 
            <p>We have specialized teams to provide promotional services on Crypto sites and Social Media Marketing. <br>
                In the Crypto sector, we provide Upvotes , Watchlist, Trending and listings on most gemsites. <br>
                In SMM, we are providing almost all the essential services. Just browse through our service catalog for more details.
            </p>    

            <h3 class="mt-5">How will voting help?</h3>
            <p>Upvotes will help take your coin upwards among the list of the very bests. More importantly, this will help gain attention of the investors for your coin. This is everything that a coin needs to start it’s journey towards success.</p>

            <h3 class="mt-5">What is the minimum quantity I can purchase? </h3>
            <p>All our service quantity starts from 1000</p>

            <h3 class="mt-5">How will I place an order?</h3>
            <p>Placing an order is as simple as it can get. Browse through the service catalog and choose the service you want us to provide. Select the quantity and add it to your cart. You can purchase it right away or keep it in your cart for purchasing it when required.</p>

            <h3 class="mt-5">Can I change my order, once it is already placed?</h3>
            <p>It can only be done before we start delivering the service. Exceptions might be done in cases of any  bulk orders. You can contact the support  team for assistance. </p>

            <h3 class="mt-5">What are the mediums of payments?</h3>
            <p>We usually take payments in crypto but you can also make payment through these mediums (Payoneer, Perfect Money, BTC, LTC and Skrill).</p>

            <h3 class="mt-5">Is there a money back guarantee in case of any failed service ?</h3>
            <p>Due to any unavoidable circumstances if we fail to provide the service, your money will be returned. No conditions applied. </p>

        </div>
        
    </div>


</section>
{% endblock %}