{% extends 'base_client.html' %}
{% load static %}

{% block content %}


<section>    
    <div class="row">
        <div class="page-header">
            <h1 class="page-heading">Terms & Conditions</h1>
            <p>Crypto Marketers</p>
        </div>
        <div class="px-3 text-justify">
            <h3>INTRODUCTION</h3> 
            <p>The following Website Standard Terms And Conditions contained herein on this webpage, shall govern your use of this website, including all pages within this website of Crypto Marketers. These Terms apply in full force and effect to your use of this website and by using this website, you expressly accept all terms and conditions contained herein in full. You must not use this Website, if you have any objection to any of these Website Standard Terms And Conditions. This Website is not for use by any minors (defined as those who are not at least 18 years of age), and you must not use this Website if you are a minor. </p>

            <h3 class="mt-5">INTELLECTUAL PROPERTY RIGHTS</h3>
            <p>Other than content you own, which you may have opted to include on this Website for getting the service, under these Terms, Crypto Marketers own all rights to the intellectual property and material contained in this Website, and all such rights are reserved. You are granted a limited license only, subject to the restrictions provided in these Terms, for purposes of viewing the material contained on this Website for gaining the services we are providing, including Crypto and SMM.</p>

            <h3 class="mt-5">RESTRICTIONS </h3>
            <p>You are expressly and emphatically restricted from all of the following: </p>
                <ul>
                    <li>Publishing any Website material in any media </li>
                    <li>Selling, sublicensing and/or otherwise commercializing any Website material</li>
                    <li>Publicly performing and/or showing any Website material </li>
                    <li>Using this Website in any way that is, or may be, damaging to this Website</li>
                    <li>Using this Website in any way that impacts user access to this Website</li>
                    <li>Using this Website contrary to applicable laws and regulations, or in a way that causes, or may cause, harm to the Website, or to any person or business entity</li>
                    <li>Engaging in any data mining, data harvesting, data extracting or any other similar activity relation to this Website, or while using this Website</li>
                    <li>Using this Website to engage in any advertising or marketing</li>
                    <li>Certain areas of this Website are restricted from access by you and Crypto Marketers may further restrict access by you to any areas of this website, at any time, in its sole and absolute discretion. </li>
                    <li>Any user ID and password you may have for this Website are confidential and you must maintain confidentiality of such information.</li>
                </ul>

            <h3 class="mt-5">YOUR CONTENT</h3>
            <p> In these Website Standard Terms And Conditions, "Your Content" shall mean any audio, video, text, images or other material you choose to display on this Website. With respect to your content it must be your own and must not be infringing on any third party's rights. Crypto Marketers reserves the right to remove any of your content from this website at any time  and for any reason, without notice, if needed so.</p>

            <h3 class="mt-5">LIMITATION OF LIABILITY</h3>
            <p>In no event shall  nor any of its officers, directors and employees, be liable to you for anything arising out of or in any way connected with your use of this website, whether such liability is under contract or otherwise, and Crypto Marketers, including its officers, directors and employees shall not be liable for any indirect, consequential or special liability arising out of or in any way related to your use of this website.</p>

            <h3 class="mt-5">LINKS TO OTHER WEBSITES</h3>
            <p>Our Service may contain links to third-party web sites or services that are not owned or controlled by the company.</p>
            <p>Crypto Marketers has no control over, and assumes no responsibility for the content, privacy policies or practices of any third party’s web sites or services. You further acknowledge and agree that the company shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with the use of or reliance on any such content, goods or services available on or through any such web sites or services.</p>
            <p>We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or services that you visit before taking the services in relation to both SMM and crypto sites.</p>

            <h3 class="mt-5">DISPUTES RESOLUTION</h3>
            <p>If You have any concern or dispute about the Service, You agree to first try to resolve the dispute informally by contacting the Company.</p>

            <h3 class="mt-5">TERMINATION</h3>
            <p>Crypto Marketers  may terminate or suspend your access immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach these Terms and Conditions.Upon termination, Your right to use the Service will cease immediately.</p>

            <p class="lead">Our authority has all the rights to bring any change or amendments to the terms and conditions and the services we provide. If a revision is done we will make reasonable efforts to provide at least 30 days’ notice prior to any new terms taking effect. What constitutes to changes will be determined at our sole discretion. By continuing to access or use our service you are agreeing to our terms. If you do not agree to the terms or after any changes to it in whole or in part, please refrain from using our website and it’s services</p>

        </div>
        
    </div>


</section>
{% endblock %}