{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="mb-4 mb-lg-5">    
    <div class="page-header">
        <h1 class="page-heading">{{ month }}/{{ year }}</h1>
        <p>Sales Information</p>
    </div>
    <div class="row mb-lg-5">
        <div class="col-lg-12 col-xl-12 mb-5 mb-lg-0">
            <div class="card h-100">
                <div class="card-header">
                    <h4 class="card-heading">Sales Information for</h4>
                    <p class="mb-0">Sales Information for {{ month }}/{{ year }}</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <thead>
                                <tr>
                                    <th>Username</th>
                                    <!-- <th>Total Service Created</th> -->
                                    <th>Total Sale</th>   
                                    <th>WK1</th>
                                    <th>WK2</th>
                                    <th>WK3</th>
                                    <th>WK4</th>                                                          
                                </tr>
                            </thead>
                            <tbody>
                                {% for data in sale_data %}
                                <tr>                                    
                                    <td><a href="{% url 'accountsdetail' data.user.id %}">{{ data.user }}</a></td>
                                    <!-- <td>{{ data.service_count }}</td> -->
                                    <td>{{ data.total }}</td>
                                    {% for week in data.week %}
                                    <td>{{ week.total }} </td>
                                    {% endfor %}
                                </tr>                                
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-lg-5">
        <div class="col-lg-12 col-xl-12 mb-5 mb-lg-0">
            <div class="card bg-info text-white">
                <div class="card-header card-header-transparent">
                    <h4 class="card-heading">Earning Information in <strong>$</strong> (USD) </h4>
                    <p class="mb-0">for Sales Executives</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Total Earned</th>   
                                    <th>WK1</th>
                                    <th>WK2</th>
                                    <th>WK3</th>
                                    <th>WK4</th>                                                          
                                </tr>
                            </thead>
                            <tbody>
                                {% for data in sale_data %}
                                <tr>                                    
                                    <td><a href="{% url 'accountsdetail' data.user.id %}">{{ data.user }}</a></td>
                                    <td>{{ data.total_earned|stringformat:".2f" }}</td>
                                    {% for week in data.week %}
                                    <td>{{ week.earned|stringformat:".2f" }} </td>
                                    {% endfor %}
                                </tr>                                
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-lg-5">
        <div class="col-lg-12 col-xl-12 mb-5 mb-lg-0">
            <div class="card h-100 bg-success text-white">
                <div class="card-header card-header-transparent">
                    <h4 class="card-heading">Earning Information in <strong>৳</strong> (BDT) </h4>
                    <p class="mb-0">for Sales Executives </p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Total Earned</th>   
                                    <th>WK1</th>
                                    <th>WK2</th>
                                    <th>WK3</th>
                                    <th>WK4</th>                                                          
                                </tr>
                            </thead>
                            <tbody>
                                {% for data in sale_data %}
                                <tr>                                    
                                    <td><a href="{% url 'accountsdetail' data.user.id %}">{{ data.user }}</a></td>
                                    <td>{{ data.total_earned_bdt|stringformat:".2f" }}</td>
                                    {% for week in data.week %}
                                    <td>{{ week.earned_bdt|stringformat:".2f" }} </td>
                                    {% endfor %}
                                </tr>                                
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="row mb-lg-5">
        <div class="col-lg-12 col-xl-12 mb-5 mb-lg-0">
            <div class="card h-100">
                <div class="card-header">
                    <h4 class="card-heading">Sales Info</h4>
                    <p class="mb-0">Overall Sales Info</p>
                </div>
                <div class="card-body">
                    <p class="mb-5"><span>Total Service Estimated Income: </span> <strong>{{ total_service_price }}</strong> $</p>
                    <p class="mb-5"><span>Total Received: </span> <strong>{{ total_payment_accepted }}</strong> $</p>
                    <p class="mb-5"><span>Total Due Till Now: </span> <strong>{{ total_due }}</strong> $</p>
                </div>
            </div>
        </div>
    </div> -->

</section>
{% endblock %}

{% block scripts %}

{% endblock %}