{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Crypto Marketers</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Google fonts - Popppins for copy-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&amp;display=swap"
        rel="stylesheet">
    <!-- Prism Syntax Highlighting-->
    <link rel="stylesheet" href="/static/vendor/prismjs/plugins/toolbar/prism-toolbar.css">
    <link rel="stylesheet" href="/static/vendor/prismjs/themes/prism-okaidia.css">
    <!-- The Main Theme stylesheet (Contains also Bootstrap CSS)-->
    <link rel="stylesheet" href="/static/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="/static/css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="/static/img/favicon.png">
    <script src="//code.jivosite.com/widget/DkXKZjJ5D9" async></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript">
        var user = '{{ request.user }}'
        function getToken(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getToken('csrftoken');
    </script>
    {% block styles %}
    {% endblock %}
</head>

<body>
    <!-- navbar-->
    {% include 'utils/header_client.html' %}
    {% block cover %}
    {% endblock %}

    <div class="d-flex align-items-stretch">

        <div class="page-holder bg-gray-100">
            <div class="container-fluid px-lg-4 px-xl-5 my-5">
                {% block content %}
                {% endblock %}
            </div>
            <footer class="footer bg-white shadow align-self-end py-3 px-xl-5 w-100">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4 p-5">
                            <!-- <h3 class="my-2">CryptoMarketers</h3> -->
                            <img src="/static/logo/crypto_logo.png" style="height: 100px;" class="py-3" alt="Crypto Marketers">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, quasi accusamus. Fugiat, alias. Dolore, facere cupiditate? Sit, ab blanditiis eligendi facilis assumenda quisquam officia voluptas minus praesentium voluptatum iure nihil?</p>
                            <p>Please contact <a href="https://t.me/CryptoMsupport" target="_blank">@CryptoMsupport on Telegram</a></p>
                        </div>
                        <div class="col-md-4 p-5">
                            <h3 class="my-2">Popular Services</h3>
                            <a class="text-decoration-none lead text-dark" href="">NFT Collabs</a><br>
                            <a class="text-decoration-none lead text-dark" href="">Influencer Marketing</a><br>
                            <a class="text-decoration-none lead text-dark" href="">Paid Twitter Ads</a><br>
                            <a class="text-decoration-none lead text-dark" href="">News Publications</a><br>
                            <a class="text-decoration-none lead text-dark" href="">Reddit Upvotes</a><br>
                            <a class="text-decoration-none lead text-dark" href="">CMS Listing</a><br>
                        </div>
                        <div class="col-md-4 p-5">
                            <h3 class="my-2">More</h3>
                            <a class="text-decoration-none lead text-dark" href="">Reddit Marketing</a><br>
                            <a class="text-decoration-none lead text-dark" href="">Discord Chat Activity</a><br>
                            <a class="text-decoration-none lead text-dark" href="">Website Development</a><br>
                            <a class="text-decoration-none lead text-dark" href="">Discord Mods</a><br>
                        </div>
                    </div>
                    <hr>
                    <div class="row px-5">
                        <div class="col-md-6 text-center text-md-start fw-bold">
                            <p class="mb-2 mb-md-0 fw-bold">Copyright &copy; Cryptomarketers | Designed by Absolute Point</p>
                        </div>
                        <div class="col-md-6 text-center text-md-end text-gray-400">
                            <p class="mb-0">Version 1.1.0</p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

    </div>
    <!-- JavaScript files-->
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <!-- Data Tables-->
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"></script>
    <!-- CMS Category JS-->
    <script src="/static/js/e-commerce-orders.js"></script>
    <script src="/static/js/theme.js"></script>
    <!-- Prism for syntax highlighting-->
    <script src="/static/vendor/prismjs/prism.js"></script>
    <script src="/static/vendor/prismjs/plugins/normalize-whitespace/prism-normalize-whitespace.min.js"></script>
    <script src="/static/vendor/prismjs/plugins/toolbar/prism-toolbar.min.js"></script>
    <script src="/static/vendor/prismjs/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
    <script type="text/javascript">
        // Optional
        Prism.plugins.NormalizeWhitespace.setDefaults({
            'remove-trailing': true,
            'remove-indent': true,
            'left-trim': true,
            'right-trim': true,
        });

    </script>
    <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    {% block scripts %}
    {% endblock %}
</body>

</html>