{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="mb-3 mb-lg-5">
    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card-widget h-100">
                <div class="card-widget-body">
                    <div class="dot me-3 bg-indigo"></div>
                    <div class="text">
                        <h6 class="mb-0">Total Employees</h6><span class="text-gray-500">10 Person</span>
                    </div>
                </div>
                <div class="icon text-white bg-indigo"><i class="fas fa-server"></i></div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card-widget h-100">
                <div class="card-widget-body">
                    <div class="dot me-3 bg-green"></div>
                    <div class="text">
                        <h6 class="mb-0">Completed Services</h6><span class="text-gray-500">90</span>
                    </div>
                </div>
                <div class="icon text-white bg-green"><i class="far fa-clipboard"></i></div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card-widget h-100">
                <div class="card-widget-body">
                    <div class="dot me-3 bg-blue"></div>
                    <div class="text">
                        <h6 class="mb-0">Notices</h6><span class="text-gray-500">500</span>
                    </div>
                </div>
                <div class="icon text-white bg-blue"><i class="fa fa-dolly-flatbed"></i></div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card-widget h-100">
                <div class="card-widget-body">
                    <div class="dot me-3 bg-red"></div>
                    <div class="text">
                        <h6 class="mb-0">Running Services</h6><span class="text-gray-500">8</span>
                    </div>
                </div>
                <div class="icon text-white bg-red"><i class="fas fa-receipt"></i></div>
            </div>
        </div>
    </div>
</section>


<section class="mb-4 mb-lg-5">
    <div class="d-flex justify-content-between">
        <h2 class="section-heading section-heading-ms mb-4 mb-lg-5">Services </h2>
        <div>
            <!-- <a class="btn btn-sm btn-primary" href=""><i class="fa fa-reset"></i>Update</a> -->
            <button type="button" class="btn btn-sm btn-secondary" data-bs-toggle="modal"  data-bs-target="#udpateService">Update</button>  
        </div>        
    </div>

    <div class="modal fade" id="udpateService" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="udpateServiceLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Update</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <form action="{% url 'updateservicelist' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
                    <div class="modal-body">                                                
                        <div class="row">
                            <label class="col-md-3 form-label">Service</label>
                            <div class="col-md-9 select mb-3">
                                <select class="form-control" name="service">
                                    <option value="none">None</option>
                                    {% for service in servicelist %}
                                    <option value="{{ service.id }}">{{ service.title }} - {{ service.quantity }} - {{ service.price }}</option>
                                    {% endfor %}                                
                                </select>
                            </div>
                        </div>
                        <hr class="bg-gray-400 my-4">
                        <div class="row">
                            <label class="col-md-3 form-label">Quantity</label>
                            <div class="col-md-9">
                                <input class="form-control" name="quantity" type="number" placeholder="Quantity" value="1000">
                            </div>
                        </div>
                        <hr class="bg-gray-400 my-4">
                        <div class="row">
                            <label class="col-md-3 form-label">Price</label>
                            <div class="col-md-9">
                                <input class="form-control" name="price" type="number" placeholder="Price" step="0.01" value="1.00">
                            </div>
                        </div>
                    </div>                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </form>                                            
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-7 col-xl-6 mb-5 mb-lg-0">
            <div class="card h-100">
                <div class="card-header">
                    <h4 class="card-heading">Service List</h4>
                </div>
                <div class="card-body">
                    <p class="text-gray-500 mb-5">Services listed below are active and running</p>
                    {% for service in servicelist %}
                    <div
                        class="d-flex justify-content-between align-items-start align-items-sm-center mb-4 flex-column flex-sm-row">
                        <div class="left d-flex align-items-center">
                            <div class="icon icon-lg shadow me-3 text-gray-700"><i class="fa fa-fire"></i></div>
                            <div class="text">
                                <h6 class="mb-0 d-flex align-items-center"> <span>{{ service.title }}</span>
                                    <span class="dot dot-sm ms-2 bg-indigo"></span></h6>
                                    <small class="text-gray-500">
                                        <div class="mt-2">
                                            per {{ service.quantity }} <a class="btn btn-outline-danger btn-xs" href="{% url 'removeservicelist' service.id %}">REMOVE</a>
                                        </div>                                        
                                    </small>
                            </div>
                        </div>
                        <div class="right ms-5 ms-sm-0 ps-3 ps-sm-0">
                            <h5>$ {{ service.price }}</h5>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-xl-6">
            <div class="row h-100">
                <div class="card mb-5">
                    <div class="card-header">
                        <h4 class="card-heading">Service TYpe</h4>
                    </div>
                    <div class="card-body">
                        <p class="text-gray-500 mb-5">Active Service Types are listed Below</p>
                        {% for type in servicetypes %}
                        <div
                            class="d-flex justify-content-between align-items-start align-items-sm-center mb-4 flex-column flex-sm-row">
                            <div class="left d-flex align-items-center">
                                <div class="icon icon-lg shadow me-3 text-gray-700"><i class="fa fa-flask"></i></div>
                                <div class="text">
                                    <h6 class="mb-0 d-flex align-items-center"> <span>{{ type.title }}</span></h6>
                                    <a class="btn btn-outline-danger btn-xs" href="{% url 'removeservicetypelist' type.id %}">REMOVE</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-xxl-6">
                    <div class="card-widget mb-4">
                        <div class="card-widget-body">
                            <div class="dot me-3 bg-indigo"></div>
                            <div class="text">
                                <h6 class="mb-0">Total Services</h6><span class="text-gray-500">127</span>
                            </div>
                        </div>
                        <div class="icon text-white bg-indigo"><i class="fas fa-clipboard-check"></i></div>
                    </div>
                </div>
                <div class="col-xxl-6">
                    <div class="card-widget mb-4">
                        <div class="card-widget-body">
                            <div class="dot me-3 bg-green"></div>
                            <div class="text">
                                <h6 class="mb-0">Not selected yet</h6><span class="text-gray-500">214</span>
                            </div>
                        </div>
                        <div class="icon text-white bg-green"><i class="fas fa-dollar-sign"></i></div>
                    </div>
                </div>                
            </div>            
        </div>
    </div>
</section>

<section class="mb-4">
    <div class="row">
        <div class="col-md-12">
            <div class="card h-100">
                <div class="card-header">
                    <h4 class="card-heading">User Listed Here</h4>
                </div>
                <div class="card-body">
                    <p class="text-gray-500 mb-5">User Listed Here</p>
                    {% for user in users %}
                    <div
                        class="d-flex justify-content-between align-items-start align-items-sm-center mb-4 flex-column flex-sm-row">
                        <div class="left d-flex align-items-center">
                            <div class="icon icon-lg shadow me-3 text-gray-700"><i class="fab fa-dropbox"></i></div>
                            <div class="text">
                                <h6 class="mb-0 d-flex align-items-center"> <span>{{ user.username }}</span><span
                                        class="dot dot-sm ms-2 bg-indigo"></span></h6><small class="text-gray-500">{{ user.email }}</small>
                            </div>
                        </div>
                        <div class="right ms-5 ms-sm-0 ps-3 ps-sm-0">
                            <h5>Rank</h5>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    
</section>


<section class="mb-4">
    {% if notices %}
    <h2 class="section-heading section-heading-ms mb-4 mb-lg-5">Notices</h2>
    {% endif %}
    <div class="row">
        {% for notice in notices %}
        <div class="col-sm-6 col-xl-12">
            <a class="message card px-5 py-3 mb-4 bg-hover-gradient-primary text-decoration-none text-reset" href="{% url 'noticedetail' notice.id %}">
                <div class="row">
                    <div class="col-xl-2 d-flex align-items-center flex-column flex-xl-row text-center text-md-left">
                        <strong class="h5 mb-0">{{ notice.created_at }}</strong>
                    </div>
                    <div class="col-xl-10 d-flex align-items-center flex-column flex-xl-row text-center text-md-left">
                        <div
                            class="bg-gray-200 rounded-pill px-4 py-1 me-0 me-xl-3 mt-3 mt-xl-0 text-sm text-dark exclude">
                            {{ notice.title }}</div>
                        <p class="mb-0 mt-3 mt-lg-0 text-truncate">{{ notice.description }}</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</section>


<div class="card card-table mb-4">
    <div class="card-header">
        <h5 class="card-heading"> Status of Services</h5>
        <div class="card-header-more">
            <button class="btn" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                    class="fas fa-ellipsis-v"></i></button>
            <div class="dropdown-menu dropdown-menu-end text-sm"><a class="dropdown-item" href="#!"><i
                        class="fas fa-expand-arrows-alt me-2"></i>Expand</a><a class="dropdown-item" href="#!"><i
                        class="far fa-window-minimize me-2"></i>Minimize</a><a class="dropdown-item" href="#!"><i
                        class="fas fa-redo me-2"></i> Reload</a><a class="dropdown-item" href="#!"><i
                        class="far fa-trash-alt me-2"></i> Remove </a></div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover mb-0">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Created By</th>
                        <th>Date</th>
                        <th>Service Title</th>
                        <th>Site Name</th>
                        <th>Accepted</th>
                        <th>Pyament Status</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for service in services %}
                    <tr class="align-middle">
                        <td><a href="{% url 'servicedetail' service.id %}">#{{forloop.counter}}</a></td>
                        <td> <strong>{{ service.user.name }}</strong></td>
                        <td>{{ service.created_at }}</td>
                        <td>{{ service.title }}</td>
                        <td>{{ service.site_name }}</td>
                        {% if service.accepted %}
                        <td>Accepted</td>
                        {% else %}
                        <td>Not Accepted Yet.</td>
                        {% endif %}
                        <td>{{ service.payment_status }}</td>
                        <td><span class="badge badge-info-light">{{ service.status }}</span></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}